<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="header">
            <h1>Temoignages HADOPI</h1>
        </div>
        <div id="content">
            #{doLayout /}
        </div>
        <div id="footer">
            Created with <a href="http://www.playframework.org">play framework</a>
        </div>
    </body>
</html>
