<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>empty</display-name>
    <context-param>
        <param-name>config</param-name>
        <param-value>app.binder.AppBinder</param-value>
    </context-param>
    <servlet>
        <servlet-name>framework-dispatcher</servlet-name>
        <servlet-class>cx.ath.mancel01.webframework.integration.servlet.ServletDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>framework-dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
